* {
    margin: 0;
    padding: 0;
}

.ban-img {
    max-height: 80vh;
    object-fit: cover;
    filter: brightness(50%);
}

.custom-caption {
    top: 10vh;
    left: 57vw;
    right: 5vw;
}

.margin-custom {
    margin-top: 13vh;
}

.custom-color-btn {
    background-color: #28af47;
}

.custom-color-btn:hover {
    background-color: #3be062;
}

.style-po {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: rgb(85, 85, 85);
}